body{
    background-color: #e4e4e4;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}


form {
    font-family: 'Segoe UI', sans-serif;
    background-color: #a0a0a0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.658);
    width: 100%;
    max-width: 600px; 
    margin-top: -250px;
}


form h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: #111;
}


.form_input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 1.05em;
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1.1em;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #ff6600;
    outline: none;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button[type="submit"]:hover {
    background-color: #e65c00;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}