
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #1e1e1e, #dbd7d7);
    color: #333;
}


.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top:  0 20px;
}


form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
}


form h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    color: #111;
}


fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}


.form_input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form_label{
    margin-top: 15px;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 1.05em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1.1em;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #ff6600;
    outline: none;
}


.form_input.checkbox {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e65c00;
}


a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}